$bodyBg: #0f0f0f;
$mainColor: #ff0000;

$purple: #8624db;
$orange: #ff9066;
$white: #fff;
$black: #000;
$green: #4caf50;
$red: #db190c;

$fontFamily: 'Roboto', sans-serif;
$fontSizeNormal: 1.125rem;
$fontSizeMedium: 1.25rem;
$fontSizeLarge: 1.5625rem;

$tabletWidth: 740px;
$pcWidth: 1024px;

$headerHeight: 5rem;
